%p
  #{json['username']}/#{json['reponame']}#
  %a{href: json['build_url']}= json['build_num']
  (
  %a{href: "#{json['vcs_url']}/compare/#{json['branch']}"}= json['branch']
  \- #{json['vcs_revision'][0..5]}:
  )
  - if json['status'] == 'success'
    %span.label.label-success= json['status']
  -else
    %span.label.label-important= json['status']
  (Finishd in #{json['build_time_millis'].to_f/1000}sec)
%p
  #{json['committer_name']}:
  %a{href: "#{json['vcs_url']}/commit/#{json['vcs_revision']}"}= json['subject']
